<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upenn.healthgrow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ChallengeActivity"></activity>
        <activity android:name=".NewGeneralLogActivity" />
        <activity android:name=".AchievementsActivity" />
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddMealActivity" />
        <activity android:name=".EatLogActivity" />
        <activity android:name=".ViewAllLogActivity" />
        <activity android:name=".DeleteUserActivity" />
        <activity android:name=".EditUserActivity" />
        <activity android:name=".UserActivity" />
        <activity android:name=".ContactActivity" />
        <activity android:name=".JournalLogActivity" />
        <activity android:name=".WorkoutLogActivity" />
        <activity android:name=".MoodLogActivity" />
        <activity android:name=".MainActivity" />

        <receiver android:name=".AlarmReceiver" />
        
    </application>

</manifest>